
// guts!
article.article {
  max-width: 1024px;
  
  // header hero image
  figure.image {
    img.article__hero {
      user-select: none;
      max-height: 50vh;
      object-fit: cover;
      background-attachment: fixed;   /* key */
      background-size: cover;
      background-position: center;
    }
  }

  // article Title
  h1.title.article__title {
    font-size: 10vw;
    line-break: none;
    width: 90vw;
    position: relative;
    top: -10vh;
    left: 0;
    user-select: none;
    z-index: 10;
    color: var(--bulma-background);
    text-rendering: optimizeLegibility;
    background: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // subtitle shit...
  p {
    font-size: 2.5rem;
    font-weight: 600;

    a {
      text-decoration: underline;
    }
  }

  // content "exclusive" to the article
  div.content.article__content {
    max-width: 95vw;
    z-index: 11;
    margin: 5vh 2.5vw;

    iframe { width: 100%; }

    kbd {
      padding: 4px 6px;
      border-radius: 4px;
      border: 1px solid var(--bulma-border);
      font-weight: 600;
      box-shadow: 0 2px 0 0 var(--bulma-border);
      color: var(--bulma-strong-color);
      background-color: var(--bulma-background);
    }

    img { border-radius: 24px; }
    pre { border-radius: 16px; }

    pre > code {
      background: transparent !important;
      background-color: transparent !important;
    }

    blockquote {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }
    
    p, code, li, td, th {
      font-size: 1rem;
      font-weight: auto;
      line-height: 2rem;
    }

    th { font-weight: 800; }

    ul.unorganized-list {
      li {
        margin-left: -25px;
        list-style: none;
        input[type="checkbox"] {
          margin-right: 5px;
          background: transparent;
          border: none;
          width: auto;
          
          &::before {
            content: "✔️";
            font-size: 1.25rem;
            font-weight: 900;
            filter: grayscale(1);
          }
        }
      }
    }
  }
}


// Terms & Conditions Page One Off that use
// the articles system to display

.legal-title {
  text-decoration: underline;
  text-align: center;
}

.legal-footnotes {
  opacity: 0.75;
  font-size: 0.8rem;
}