.carousel {
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  anchor-name: --carousel;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  list-style: none;
  gap: 2rem;

  & > a li {
    scroll-snap-align: center;
    background-color: var(--bulma-code-background);
    list-style: none;

    img {
      border-radius: 5px;
    }
  }
}

// blog post
div.posts {
  margin-bottom: 50px;

  .carousel {
    &__item {
      padding: 15px 20px;
      border-radius: 5px;
      margin-bottom: 25px;
      border: 1px solid transparent;

      &-banner {
        &-tags {
          margin: 0;
          color: pink;
          &-tag {
            color: red;
          }
        }
      }
      
      &-info {
        &-title {
          font-size: 3rem;
          margin: 0;
        }
        &-subtitle {
          margin: 0;
          margin-top: 10px;
        }
      }
    }

    // ...
  }
}