main.article {
  display: flex;
  width: 80vw;
  margin: 0 10vw;

  .table-of-contents {
    position: fixed;
    display: block;
    width: 25%;
    top: 70px;
    right: 0;

    ol.toc-list {
      border-left: none;

      li.toc-list-item {
        a.toc-link {
          &::before {
            background: none;
          }
        }
      }
    }

    ol, li, ul {
      list-style: none;
    }
  }
  
  .post {
    width: 75%;

    .post-hero {
      min-height: 25vh;
      padding: 25px 0;

      .title {
        font-size: 4rem;
      }

      .subtitle {
        font-size: 1rem;
        padding: 6px 10px;
        margin-top: 15px;
        border-radius: 5px;
        background: var(--bulma-title-color);
        color: var(--bulma-hr-background-color);
      }
    }

    .post-content {

      iframe {
        width: 100%;
        height: 480px;
        border-radius: 5px;
      }

      blockquote {
        background: var(--bulma-code-background);
        border-left: 10px solid var(--bulma-info);
        margin: 10px 0;
        padding: 8px 8px 8px 16px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      h1, h2, h3 {
        &:hover::before {
          content: '#';
          font-size: rem;
          font-size: inherit;
          position: relative;
          margin-left: -25px;
          transition: all ease-in-out 200ms;
        }
      }

      h1 {
        font-size: 3rem;
        font-weight: 700;
      }

      h2 {
        font-size: 2rem;
        font-weight: 500;
      }

      pre {
        margin: 10px 0;
        border-radius: 5px;
      }

      img {
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,.75)
      }

      p {}

      ol {
      }

      ul {}

      .task-list-item {}

      .spoiler,
      .information,
      .warning {
        background: var(--bulma-warning);
        border-radius: 5px;
        padding: 8px 10px;
        margin: 15px 0;
      }
    
      .information {
        background: var(--bulma-info);
      }
    
      .spoiler {
        background: black;
        color: black;
        user-select: none;
    
        &:hover {
          color: white;
        }
      }
    }

    .post-comments {
      background: red;
    }
  }
}