/* Mobile Styles */

@media only screen and (max-width: 600px) {
  body {

    .carousel {
      margin-inline-start: 0 !important;
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 25px;
    }

    #about {
      .content p {
        font-size: 1.25rem;
      }
    }

    #toc { display: none; }

    main.article > div.post {
      width: 90vw;
      margin-left: -5vw;
      margin-bottom: 75px;
    }

    .carousel {
      overflow-x: auto;
      overscroll-behavior-x: contain;
      scroll-snap-type: x mandatory;
      anchor-name: --carousel;
      max-width: 100vw;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 85%;
      gap: 1rem;
    }
  }
}

@media only screen and (max-width: 960px) {
  body {
    .carousel {
      margin-inline-start: 0 !important;
      padding-left: 5vw;
      padding-right: 5vw;
      padding-bottom: 25px;
    }
  }
}