section.post {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: hidden;
  padding-bottom: 75px;
}

section.hero {
  div.hero-body h1.title {
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    font-style: italic;
  }

  div.info-body {
    margin: 0 0 25px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    & > * {
      margin: 0 5px;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

section.others {
  width: var(--theme-desktop-width);
  margin-left: var(--theme-desktop-margin);
}

section.comments {
  width: 100vw;

  .giscus {
    width: var(--theme-desktop-width);
    margin-left: var(--theme-desktop-margin);
  }
}

article.content {
  width: calc(var(--theme-desktop-width) - 20vw);

  img,
  blockquote {
    border-radius: var(--bulma-radius);
  }

  div.spoiler {
    background-color: var(--bulma-background);
    color: var(--bulma-background);
    user-select: none;
    cursor: help;
    padding: var(--bulma-pre-padding);
    margin-bottom: 1.5rem;
    border-radius: var(--bulma-radius);

    &:hover,
    &:active {
      color: var(--bulma-body-color);
      user-select: all;
    }
  }
}
