section.post {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

section.hero {
  div.hero-body h1.title {
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    font-style: italic;
  }
  div.info-body {
    margin-bottom: 25px;
    text-align: center;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    & > * {
      margin: 0 5px;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

section.other-posts {
  width: 60vw;
  margin-left: 20vw;
}

section.comments {
  width: 100vw;
  background: var(--bulma-body-background-color);
  z-index: 999;

  .giscus {
    width: 60vw;
    margin-left: 20vw;
  }
}

div.toc.sticky ~ article.content { margin-left: 25%; }

article.content {
  width: 60vw;

  blockquote { 
    border-radius: var(--bulma-radius);
  }
  
  div.spoiler {
    background-color: var(--bulma-background);
    color: var(--bulma-background);
    user-select: none;
    cursor: help;
    padding: var(--bulma-pre-padding);
    margin-bottom: 1.50rem;
    border-radius: var(--bulma-radius);

    &:hover,
    &:active {
      color: var(--bulma-body-color);
      user-select: all;
    }
  }
}
