@media screen and (max-width: 960px) {
  
  .giscus,
  .other-posts,
  .post-title {
    width: auto;
    margin-left: auto;
  }

  section.hero {
    margin-top: 75px;
  }

  section.post,
  section.others,
  section.comments,
   {
    width: var(--theme-mobile-width);
    margin-left: var(--theme-mobile-margin);
  }

  article.content {
    width: var(--theme-mobile-width);
  }

  .toc {
    display: none;
  }

  .post-body {
    margin-right: 0;
    width: 100%;
  }

  nav.navbar {
    width: var(--theme-mobile-width);
    left: var(--theme-mobile-margin);
    position: fixed;
  }

  footer.footer {
    width: var(--theme-mobile-width);
    margin-left: var(--theme-mobile-margin);
  }

}