.toc-link.node-name--H1::before,
.toc-link.node-name--H2::before,
.toc-link.node-name--H3::before,
.toc-link.node-name--H4::before,
.toc-link.node-name--H5::before,
.toc-link.node-name--H6::before {
  display: none;
}

.toc-link {
  opacity: 0.5;
  font-size: 0.75rem;
  font-family: var(--bulma-code-family);
}

.toc-link.is-active-link {
  opacity: 1;
}

div.toc {
  position: relative;
  padding-right: 2rem;
  width: 20vw;
  text-align: right;
}
