.toc-link.node-name--H1::before,
.toc-link.node-name--H2::before,
.toc-link.node-name--H3::before,
.toc-link.node-name--H4::before,
.toc-link.node-name--H5::before,
.toc-link.node-name--H6::before {
  display: none;
}

.toc-list.is-collapsible {
  .toc-link {
    padding-right: 15px;
  }
}

.toc-link {
  opacity: .5;
  font-size: .75rem;
  font-family: var(--bulma-code-family);
}

.toc-link.is-active-link {
  opacity: 1;
}

div.toc {
  width: 25%;
  text-align: right;
  position: relative;
  float: left;
  padding-right: 25px;
}

div.toc.sticky {
  position: fixed;
  top: 50px;
}

div.toc.stuck {
  opacity: 0;
  user-select: none;
  z-index: 1;
}