@import "normalize";
@import "article";
@import "navbar";
@import "footer";
@import "uniques";
@import "is-modifiers";
@import "table-of-content";
@import "media-queries";

$app-font: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;

$app-font-code:
  Consolas,
  Monaco,
  Lucida Console,
  Liberation Mono,
  DejaVu Sans Mono,
  Bitstream Vera Sans Mono,
  Courier New;

:root {
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bulma-body-family: #{$app-font};
  --bulma-code-family: #{$app-font-code};

  --theme-desktop-width: 70vw;
  --theme-desktop-margin: 15vw;

  --theme-mobile-width: 90vw;
  --theme-mobile-margin: 5vw;
}

// * { border: 1px solid red; }

section.posts {
  h1.title {
    text-align: right;
    font-style: italic;
    font-size: 5rem;
  }

  margin-top: 75px;
  width: var(--theme-desktop-width);
  margin-left: var(--theme-desktop-margin);
}
