@import "normalize";
@import "animations";
@import "article";
@import "navbar";
@import "footer";
@import "uniques";
@import "is-modifiers";
@import "media-queries";
@import "blog-directory";
@import "product-gallery";
@import "about";

$app-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
  sans-serif;

$app-font-code:
  Consolas,
  Monaco,
  Lucida Console,
  Liberation Mono,
  DejaVu Sans Mono,
  Bitstream Vera Sans Mono,
  Courier New;

:root {
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bulma-body-family: #{$app-font};
  --bulma-code-family: #{$app-font-code};

  --theme-desktop-width: 80vw;
  --theme-desktop-margin: 10vw;
  --theme-mobile-width: 90vw;
  --theme-mobile-margin: 5vw;
}


