@import "static/normalize";
@import "static/animations";

@import "pages/article";
@import "pages/about";
@import "pages/index";
@import "pages/ideas";

@import "components/navbar";
@import "components/footer";
@import "components/blog-directory";
@import "components/product-gallery";

@import "is-modifiers";
@import "media-queries";
@import "uniques";

$app-font: 
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;

$app-font-code:
  Consolas,
  Monaco,
  Lucida Console,
  Liberation Mono,
  DejaVu Sans Mono,
  Bitstream Vera Sans Mono,
  Courier New;

:root {
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bulma-body-family: #{$app-font};
  --bulma-code-family: #{$app-font-code};

  --theme-desktop-w: 80vw;
  --theme-desktop-ml: 10vw;
 
  --theme-mobile-w: 90vw;
  --theme-mobile-ml: 5vw;
}
