/.vscode
/node_modules
/.netlify

# os
.DS_Store

# configuration files and logs are
/*.log
/*.env

# directories/files that are generated during build process
/dist

# temp
/.old-storage