@keyframes fade {
  from { opacity: 0 }
  to   { opacity: 1 }
}

@keyframes combine {
  to { 
    filter: blur(10px) contrast(30); 
  }
}

// set some variables in scss

$menu-ani-name: slideDown;
$hero-height: 50vh;
$hero-width: 100vw;
$hero-background: transparent;
$hero-font-color: rgba(32,32,32,1);
$hero-ani-name: slideUp;
$hero-ani-time: 500ms;

@mixin ani($name, $timing, $direction, $duration, $fill){
  animation-name: $name;
  animation-timing-function: $timing;
  animation-direction: $direction;
  animation-duration: $duration;
  animation-fill-mode: $fill;
}

