.hero {
  &__suptitle {
    font-size: 12pt;
    font-weight: 300;
    line-height: 10px;
  }

  &__title {
    font-size: 42pt;
    font-weight: 900;
    font-style: italic;
    opacity: 0.85;
  }

  &__content {
    &-title {
      font-size: 10vw;
      font-weight: 900;
      display: inline;
    }

    &-subtitle {
      font-size: 3vw;
      font-style: italic;
      opacity: 0.85;
    }
  }

  &__container {
    &-action {
      // display: flex;
      // flex-direction: row;
      // background: red;
      border-left: 2px solid var(--bulma-title-color);

      &-image {
        // background-color: pink;
        // border-radius: 50%;

        &::before {
          content: "";
          background: red;
          height: 125px;
          width: 125px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &-caption {
        width: 100%;
        text-align: center;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}
