section.products {
  width: 80vw;

  h1.title {
    font-size: 5rem;
    font-weight: 900;
    font-style: italic;
    margin: 0 10vw 0 10vw;

    a {
      color: var(--bulma-body);
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }
  
  a.subtext {
    font-size: 1rem;
    width: 80vw;
    margin: 0 10vw 0 10vw;
    font-weight: 900;

    .plug-icon {
      color: rgba(230, 128, 233, 1)

    }
  }

  div.container {
    width: 80vw;
    margin: 25px 10vw 50px 10vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    div.item {
      width: 300px;
      border-radius: 10px;
      padding: 5px;
      margin: 0 10px 25px 0;
      background: var(--bulma-background-color);
      transition: all ease-in-out 200ms 10ms;

      &:hover {
        img {
          transform: scale(1.05);
          box-shadow: 0 5px 25px 2px rgba(32, 32, 32, 0.4);
        }
      }

      a {
        color: var(--bulma-body);
      }

      img {
        border-radius: 12px;
        transition: all ease-in-out 200ms 10ms;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 5px 0 0 0;
      }

      h3 {
        margin: 5px 0 0 0;
      }

      .tags {
        margin-top: 15px;

        .tag {
          transition: all ease-in-out 200ms 10ms;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
