
.index-hero,
.index-content {
  font-size: 3.5rem;
  font-weight: 900;
  margin: 0 10vw 10px 10vw;
  width: 80vw;
  display: block;
  border-radius: 5px;
}

div.float-right.decoration {
  height: 256px;
  width: 256px;
}

.resources {
  width: 80vw;

  h3 {
    font-size: 3rem;
    font-weight: 900;
    line-break: strict;
  }

  .container {

    a {
      margin: 1rem 1.25rem;
      color: var(--bulma-body);
    }
  }
}


body > h2.projects-section-title,
body > h2.showcased-section-title {
  font-size: 5rem;
  margin: 0 10vw;
  font-weight: 900;
  text-align: right;
}

body > h2.showcased-section-title {
  text-align: left;
}

.banner {
  width: 100vw;
  height: 30vh;
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.index-first-cta {
  a .cell {
    transition: all ease-in-out 175ms;
    box-shadow:  0 0 25px 5px var(--bulma-font-color);
    border: 1px solid var(--bulma-scheme-main);

    &:hover {
      transform: translateY(-10px);
    }
  }

  a .cell h2 {
    font-size: 5rem;
  }

  a .cell h3 {
    margin-top: 15px;
  }
}


.index-blurb {
  // background-color: var(--bulma-scheme-main);
  // background-color: var(--bulma-body-color);
}

i.icon-big { 
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
  float: left;
  margin-right: 15px;
  color: var(--bulma-font-color);
}

.block-decoration-one {
  float: left;
  position: absolute;
  bottom: -25vh;
  left: -100vw;
  height: 25vh;
  transform: rotate(5deg);
  width: 200vw;
  background-color: rgb(62, 162, 162);
  z-index: -1;
}

.block-decoration-two {
  float: left;
  position: absolute;
  bottom: -50vh;
  left: -25vw;
  height: 25vh;
  transform: rotate(-10deg);
  width: 200vw;
  background-color: rgb(81, 120, 219);
  z-index: -1;
}

.block-decoration-three {
  float: right;
  position: absolute;
  bottom: -50vh;
  left: -100vw;
  height: 25vh;
  transform: rotate(5deg);
  width: 200vw;
  background-color: rgb(49, 129, 118);
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  .cell-icon img {
    filter: invert(1);
    opacity: .75;
  }

  .index-first-cta {
    a .cell {
      border: 1px solid black;
    }
  }
}