
.index-hero,
.index-content {
  font-size: 3.5rem;
  font-weight: 900;
  margin: 0 10vw 10px 10vw;
  width: 80vw;
  display: block;
  border-radius: 5px;
}

div.float-right.decoration {
  height: 256px;
  width: 256px;
}

.resources {
  width: 80vw;

  h3 {
    font-size: 3rem;
    font-weight: 900;
    line-break: strict;
  }

  .container {

    a {
      margin: 1rem 1.25rem;
      color: var(--bulma-body);
    }
  }
}


body > h2.projects-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  text-decoration: underline;
}

.banner {
  width: 100vw;
  height: 30vh;
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.index-first-cta {
  a .cell h2 {
    font-size: 5rem;
  }

  a .cell h3 {
    margin-top: 15px;
  }
}


.index-blurb {
  // background-color: var(--bulma-scheme-main);
  // background-color: var(--bulma-body-color);
}

i.icon-big { 
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
  float: left;
  margin-right: 15px;
  color: var(--bulma-font-color);
}

.decoration-container {
  position: absolute;
  bottom: -150vh;
  left: 0;
  height: 75vh;
  width: 100vw;
  background-color: lightcoral;
  z-index: -1;
}


@media (prefers-color-scheme: dark) {
  .cell-icon img {
    filter: invert(1);
    opacity: .75;
  }
}