
span.index-hero {
  font-size: 3rem;
  font-weight: 900;
  margin: 0 10vw 10px 10vw;
  width: 80vw;
  display: block;
  border-radius: 5px;
}

div.float-right.decoration {
  height: 256px;
  width: 256px;
  background: red;
}

.resources {
  width: 80vw;

  h3 {
    font-size: 3rem;
    font-weight: 900;
  }

  .container {

    a {
      margin: 1rem 1.25rem;
      color: var(--bulma-body);
    }
  }
}

.banner {
  width: 100vw;


  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
  }
}

@media (prefers-color-scheme: dark) {
  .cell-icon img {
    filter: invert(1);
    opacity: .75;
  }
}