.lightbox {
  position: fixed;  
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.5);
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__image {
    margin: auto;
    height: 100vw;
  }

  &__close {
    position: fixed;
    top: 2.5vh;
    right: 2.5vw;
    cursor: pointer;
  }

}