main.article {
  display: flex;
  width: 80vw;
  margin: 0 10vw;

  .table-of-contents {
    position: fixed;
    display: block;
    width: 25%;
    top: 70px;
    right: 0;

    ol.toc-list {
      border-left: none;

      li.toc-list-item {
        a.toc-link {
          &::before {
            background: none;
          }
        }
      }
    }

    ol, li, ul {
      list-style: none;
    }
  }
  
  .post {
    width: 75%;

    .post-hero {
    }

    .post-content {

      img {
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,.75)
      }

      p {}

      ol {
        margin-left: 25px;
      }

      .task-list-item {}

      .spoiler,
      .information,
      .warning {
        background: var(--bulma-warning);
        border-radius: 5px;
        padding: 8px 10px;
        margin: 15px 0;
      }
    
      .information {
        background: var(--bulma-info);
      }
    
      .spoiler {
        background: black;
        color: black;
        user-select: none;
    
        &:hover {
          color: white;
        }
      }
    }

    .post-comments {
      background: red;
    }
  }
}