@use "@npm/bulma";
@use "@npm/material-icons/iconfont/material-icons.css";
@use "@npm/highlight.js/styles/github.css";
@use "@npm/highlight.js/styles/github-dark.css";

@use "post";
@use "overrides";


@media screen and (max-width: 480px) {
  body {
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100vw;
  }

}


@mixin white-gradient {
  background: linear-gradient(to right, var(--bulma-body-background-color) 0%, rgba(0,0,0,0) 100%);
}

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  view-transition-name: none;

  --app-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --app-font-code: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
  --text-text-size: 4vw;
  --subtitle-text-size: 1.25vw;
  --body-text-size: 1vw;
  --desktop-width: 70vw;
  --mobile-width: 90vw;
  --animation-speed: 45s;
}

body {
  font-family: var(--app-font);
  width: var(--desktop-width);
  margin-left: calc(var(--desktop-width) / 9);

  pre,
  code {
    font-family: var(--app-font-code);
  }

  footer.footer {
    background-color: transparent;
    padding: 3vh 0;
  }

  .tag {
    margin-right: 5px;
  }

  .is-flipped {
    transform: rotate(180deg);
  }

  img.thumbnail {
    height: 128px;
    width: 128px;
    object-fit: cover;
    border-radius: 24px;
  }

  img {
    border-radius:  24px;
    object-fit: cover;
  }

  .image.lightbox-enabled {
    cursor: zoom-in;
  }

}

/* -- lightbox -- */

.lightbox {
  z-index: 9999;
  background: black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  &__close {
    position: fixed;
    top: 25px;
    right: 25px;
    cursor: pointer;
    scale: 1.5;
    color: white;
    &:hover {

      background-color: rgba(233,233,233,.05);
    }
    padding: 4px;
    border-radius: 25px;
  }

  &__image {
    max-height: 90vh;
  }

  &__image-alt-text {
    margin-top: 5px;
  }

}





