section.others
  if current
    if cache

      div.thanks
        h2  Thank You!
        span Some other posts you might enjoy

      div.article
        each post in cache
          if post.stats.comments.title === current
            each other in post.others
              div
                a(href= other.path)
                  h3= other.comments.title
                  h4= other.comments.summary
                  .tags
                    .tag
                      span.icon
                        i.fa-solid.fa-flag-checkered
                      span= other.comments.creation
                    .tag
                      span.icon
                        i.fa-solid.fa-glasses
                      span #{other.readtime} min