form#quote
  h3.mb-4 Use this form to make contact about any 
    strong new 
    | project, goal or idea!
  .field.is-grouped
    .control.has-icons-left.has-icons-right
      .select
        select
          option 3DS
          option 3DS XL/LL
          option New 3DS
          option New 3DS XL/LL
          option DSi
          option DSi XL/LL
          option Switch
          option Switch Lite
          option Switch OLED
          option JoyCons
          option Pro Controller
          option Elite Controller
          option Series Controller
          option One Controller
          option Other...
      span.icon.is-small.is-left
        i.fa-solid.fa-lightbulb
    .control.has-icons-left.has-icons-right
      input.input(placeholder="Name" type="text")
      span.icon.is-small.is-left
        i.fas.fa-user
    .control.has-icons-left.has-icons-right.is-expanded
      input.input(placeholder="your@email" type="email")
      span.icon.is-small.is-left
        i.fas.fa-at

  .field
    .control
      textarea.textarea(placeholder="Questions? Comments? Concerns? \nQuests? Advice? dare I say... Admiration? \nLook forward to hearing from you!")
  
  .field
    .control
      label.checkbox
        input(type="checkbox")
        |
        | I agree to the 
        a(href="#terms") terms of service 
        | & 
        a(href="#privay") privacy policy

  .field
    .control
      button.button.is-link.has-icons-left.has-icons-right
        span.icon.is-small.is-left
          i.fa-solid.fa-paper-plane
        span Drop A Line!          
