doctype html
html(lang='en' data-theme='system')
  head
    meta(charset='utf-8')
    meta(name='robots' content='noindex, nofollow')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='theme-color' content= manifest.theme_color)
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    link(rel='apple-touch-icon' href='/favicon.png')
    link(rel='shortcut icon' href='/images/favicon.png' type='img/png')
    link(rel='manifest' href='/manifest.json')
    link(rel='stylesheet' href='/layout.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous' referrerpolicy='no-referrer')
    // link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.27.4/tocbot.css' crossorigin='anonymous' referrerpolicy='no-referrer')
    title= manifest.name
  body(translate='no' id='application-body')
    include navigation
  block content