nav.navbar(role="navigation" aria-label="main navigation")
  h1
    a(href='/')
      span= manifest.name

  div
    if pages
      each page in pages
        - var friendly = page.userOptions.filename.split('.')[0]
          if friendly !== 'error'
            if friendly !== 'legal'
              if friendly !== 'index'
                if friendly !== 'thanks'
                  a(href= '/' + page.userOptions.filename)= friendly