.resources 
  h2 Some regularly used resources
  .container
    a(href='https://hacks.guide/') hacks.guide
    a(href='https://github.com/LumaTeam/Luma3DS') github/Luma3DS
    a(href='https://github.com/DS-Homebrew') github/DS-Homebrew
    a(href='https://www.3dbrew.org') 3dbrew