section.gallery
  .gallery-image-wrapper
    span.gallery-image-caption Web Application Design And Development
    img.gallery-image(src="/images/image.webp")
    
  .gallery-image-wrapper
    span.gallery-image-caption Media Exposure, Engagement Stratagy Consultation
    img.gallery-image(src="/images/image.webp")

  .gallery-image-wrapper
    span.gallery-image-caption Consumer Electronics Repair And Restoration
    img.gallery-image(src="/images/image.webp")

  .gallery-image-wrapper
    span.gallery-image-caption Online Gaming Community Access Via Discord
    img.gallery-image(src="/images/image.webp")
    