section.gallery
  .gallery-image-wrapper
    span.gallery-image-caption something about this image
    img.gallery-image(src="/images/clovers.webp")
  .gallery-image-wrapper
    span.gallery-image-caption something about this image
    img.gallery-image(src="/images/flower1.webp")
  .gallery-image-wrapper
    span.gallery-image-caption something about this image
    img.gallery-image(src="/images/flower2.webp")