section.now
  div.block
  h2 now 
  .events
    span.now-event
      p.time 10/08/2024
      h3.sentence having just relocated, I'm finding myself able to breathe better.
    span.now-event
      p.time 16/08/2024
      h3.sentence daily deer sightings, the feeling like you've gotten a little bit closer to nature.
