section.teamwork
  h5 If you need assistance with...
  h2 Software, Hardware, Application Development, IT Consultation, Electronics Repair & Restoration.
  h3 let's join forces!
  .actions.block
    a.button(role="button").is-dark.has-icon.is-outlined
      span.icon
        i.fa-solid.fa-envelope
      span Email
    a.button(role="button").is-dark.has-icon.is-outlined
      span.icon
        i.fa-solid.fa-phone
      span Telephone
    a.button(role="button").is-dark.has-icon.is-outlined
      span.icon
        i.fa-solid.fa-network-wired
      span Social Media