extends /partials/layout

block content
  
  - var current = title

  main
    section.hero
      div.hero-body
        h1.title= title
      
      div.info-body.tags
        a(href= manifest.authors[0].url).tag.is-hoverable= manifest.authors[0].name
        .tag= comments.creation
    
    section.post
      div.toc
      article.content
        include:markdown #{markdown-path-here}
    
    include /partials/additional


    section.comments
      script(async crossorigin="anonymous" data-loading="lazy" data-lang="en" data-theme="light" data-input-position="bottom" data-emit-metadata="0" data-reactions-enabled="1" data-strict="0" data-mapping="pathname" data-category-id="DIC_kwDOEogXws4Cfttn" data-category="Comments" data-repo-id="MDEwOlJlcG9zaXRvcnkzMTA5MDg4NjY=" data-repo="valaxin/kame" src="https://giscus.app/client.js")
  
  include /partials/footer