extends partials/layout

block content

  main.about

    h1 valaxin
    h2 a human who likes to interact with technology from many disciplines.
    h3 software creation, development operations, user interface/experience.

    span I'm somone who loves to create, in particular using the vast anything-ness of this here digital space and the internet as a whole for that matter.
    span  The same (maybe) ape like facination with the unknown, that is the iginition sparking change and wonderment in this great experiment.
    span  even in this space one must recognize the differences between.
    span  however plentlyful the digital chip requires it's tax the turist form of anything-ness is walking outside and looking up. that said, are be super saturated and therfore blind to the consiquences of this great anything-ness.  
    
    section.now
      div.block
        h2 now 
        .events
          span.now-event
            p.time 10/08/2024
            h3.sentence having just relocated, I'm finding myself able to breathe better.
          
          span.now-event
            p.time 16/08/2024
            h3.sentence daily deer sightings, the feeling like you've gotten a little bit closer to nature.

    section.gallery
      .gallery-image-wrapper
        span.gallery-image-caption Web Application Design And Development
        img.gallery-image(src="/images/image.webp")
      .gallery-image-wrapper
        span.gallery-image-caption Media Exposure, Engagement Stratagy Consultation
        img.gallery-image(src="/images/image.webp")
      .gallery-image-wrapper
        span.gallery-image-caption Consumer Electronics Repair And Restoration
        img.gallery-image(src="/images/image.webp")
      .gallery-image-wrapper
        span.gallery-image-caption Online Gaming Community Access Via Discord
        img.gallery-image(src="/images/image.webp")
    
    section.teamwork
      h5 If you need assistance with...
      h2 Software, Hardware, Application Development, IT Consultation, Electronics Repair & Restoration.
      h3 let's join forces!
      .actions.block
        a.button(role="button").is-dark.has-icon.is-outlined
          span.icon
            i.fa-solid.fa-envelope
          span Email
        a.button(role="button").is-dark.has-icon.is-outlined
          span.icon
            i.fa-solid.fa-phone
          span Telephone
        a.button(role="button").is-dark.has-icon.is-outlined
          span.icon
            i.fa-solid.fa-network-wired
          span Social Media

    section.social
      a.BUTT(href="https://github.com/valaxin" role="button") github
      a(href="https://codepen.io/valaxin" role="button") codepen
      a(href="mailto:hello@valaxin.dev" role="button") email
      a(href="https://discord.app/" role="button") discord

  include partials/footer