extends partials/layout

block content

  main.about

    h1 valaxin
    h2 a human who likes to interact with technology from many disciplines.
    h3 software creation, development operations, user interface/experience.

    span I'm somone who loves to create, in particular using the vast anything-ness of this here digital space and the internet as a whole for that matter.
    span  The same (maybe) ape like facination with the unknown, that is the iginition sparking change and wonderment in this great experiment.
    span  even in this space one must recognize the differences between.
    span  however plentlyful the digital chip requires it's tax the turist form of anything-ness is walking outside and looking up. that said, are be super saturated and therfore blind to the consiquences of this great anything-ness.  
    
    include partials/about/now
    include partials/about/projects
    include partials/about/gallery

    section.social
      a(href="https://github.com/valaxin" role="button") github
      a(href="https://codepen.io/valaxin" role="button") codepen 

  include partials/footer