extends partials/layout

block content
  main.ideas
    section.section
      h1.title Ideas
      h2.subtitle For better or worse I present, thoughts.
    section.section
      h1.title Repositories
      h2.subtitle Public projects from my Github profile.
    section.section
      h1.title Documents
      h2.subtitle Things I wish to share on the internet. 
    section.section    
      h1.title Resources
      h2.subtitle Links, you might benifit from.
      include partials/resources

  include partials/footer