extends partials/layout

block content
  // include partials/footer
  span.index-hero Gaming Console Mods
  span.index-hero Eletronics Repair
  span.index-hero Software Development

  // div.float-right.decoration

  include partials/form-proposal
  include partials/footer