extends partials/layout

block content
  // include partials/footer
  .hero
    span.index-hero Gaming Console Mods
    span.index-hero Eletronics Repair
    span.index-hero Software Development

  include partials/form-proposal
  include partials/footer
